body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: BlanchedAlmond;
}

code {
  font-family: 'Titillium Web', sans-serif;
}

/* top level, contains all the components */
.framework{
  display: grid;
  grid-template-columns: 150px 2fr;
}

/* side bar styling */
 .sideBar{
  padding: 10px 0px 0px 10px;
  /* padding-top: 15px; */
  background-color: white;
 }


.searchCityCtnr{
  margin-top: 100px;
}

.input{
  margin-left: 25px;
}

.logoDiv{
 
  font-size: large;
  height: 100px;
  width: 125px;
  border: 1px;
  padding: 5px;
  margin: 10px;
  /* position: center; */
  display:flex;
  align-items: center;
}
.logoDiv h1{
  margin: 0;

}
 
/* Contains the description of all breweries */
.container{
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr;  */
  /* gap: 10px; */
  display:flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: 10px;
  background-color: BurlyWood ;

  
}

 /* contains individual brewery details */
.card{
  width: 180px;
  height: 200px;
  margin: 10px;
  padding-left: 10px;
  background-color: white;

}




